<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/foodapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodapp"
        tools:targetApi="31">
        <activity
            android:name=".splashscreenActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".cartActivity"
            android:exported="false" />
        <activity
            android:name=".foodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".signupActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false"/>

    </application>

</manifest>